.button {
    background-color: cornsilk;
    padding: 7px 2px;
    margin: 0px 5px;
}

.bubbly-button {
    -webkit-appearance: none;
    appearance: none;
    background-color: cornsilk;
    padding: 7px 2px;
    margin: 0px 5px;
    border: 0px solid black;
    cursor: pointer;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    &:hover {
        transform: scale(1.05);
        border-radius: 4px;
    }
    &:active {
        transform: scale(0.9);
        background-color: darken(cornsilk, 5%);
        box-shadow: 0 2px 25px rgba(17, 143, 0, 0.466);
    }
}

@media (max-width: 1024px) {
    .bubbly-button {
        padding: 5px 2px;
        margin: 0px 3px;
    }
}

//--------------------------------------------------------------------------
//--------------------------------------------------------------------------
//--------------------------------------------------------------------------
@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin relative($args...) {
    @include position(relative, $args...);
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

// generic transform
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
    -o-transform-origin: $origin;
    -ms-transform-origin: $origin;
    -webkit-transform-origin: $origin;
    transform-origin: $origin;
}

.float-circle {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    z-index: 99;
    visibility: hidden;
    box-shadow: 0 2px 25px rgba(172, 172, 172, 0.466);
    @include transform(translateX(-50%) translateY(-50%));
    @include transition(transform .5s, opacity .5s);
    background-color: cornsilk;
    border: 0px solid black;
    height: 35px;
    &.open {
        visibility: visible;
        cursor: pointer;
        &.first {
            @include transform(translate3d(0, -37px, 0));
        }
        &.second {
            @include transform(translate3d(0, -74px, 0));
        }
        &.third {
            @include transform(translate3d(0, -111px, 0));
        }
    }
}

.float-circle:hover {
    background-color: darken(cornsilk, 5%);
    box-shadow: 0 2px 25px rgba(218, 218, 218, 0.466);
    border-radius: 4px;
}