.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #abe7ff, #a2f0c2, #4aff68, #4eff74);
    background-size: 400% 400%;
    animation: gradient 15s linear infinite;
    //background-color: #27337f;
    min-height: 100vh;
    padding-bottom: 25px;
}

.center-dialog {
    width: 80%;
    background-color: #ebe9dc;
    border-radius: 15px;
    border: 2px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transition: .2s linear;
    padding-top: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.buttons {
    padding-top: 50px;
    padding-bottom: 150px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button:hover {
    background-color: blue;
    border-radius: 8px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.button {
    padding: 20px 30px 20px 30px;
    margin: 30px;
    font-size: 25px;
    border-radius: 0px;
    border: 0 solid green;
    background-color: rgb(18, 18, 179);
    color: white;
    margin-bottom: 10px;
    width: 80%;
    transition: .2s linear;
    font-family: Goose, "Helvetica Neue", sans-serif;
}

@media (max-width: 1400px) {}

@media (max-width: 1024px) {
    .buttons {
        width: 70%;
    }
}

@media (max-width: 815px) {
    .center-dialog {
        width: 90%;
        padding-top: 20px;
    }
    .buttons {
        padding-top: 20px;
        padding-bottom: 40px;
        width: 90%;
    }
    .button {
        font-size: 18px;
    }
}

@media (max-width: 576px) {
    .center-dialog {
        width: 100%;
        padding-top: 10px;
    }
    .buttons {
        padding-top: 20px;
        padding-bottom: 30px;
        width: 90%;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}