<div class="block">
    <p class="label">Email</p>
    <input placeholder="Email adress" type="email" [(ngModel)]="email">
</div>
<div class="block">
    <p class="label">Пароль</p>
    <input placeholder="Password" type="password" [(ngModel)]="password">
</div>
<div class="buttons">
    <button class="button" (click)="logIn()">Увійти</button>
    <p class="help-label">Ще не маєете аккаунта?</p>
    <button class="button" [routerLink]="['/signup']">Зареєструватися</button>
</div>
<p [style.display]="loginFailed?'block':'none'" class="help-label">Вибачте, на жаль такого користувача не знайдено.</p>
<mat-progress-bar [ngStyle]="{'visibility': loginProcess ? 'visible' : 'hidden'}" mode="indeterminate"></mat-progress-bar>