input {
    width: 100%;
    padding: 12px 20px;
    margin: 0 0 0 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: .2s linear;
}

input:hover {
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.block {
    margin-top: 10px;
}

.buttons {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .button:hover {
        background-color: blue;
        border-radius: 8px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    transition: .2s linear;
}

.button {
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    border-radius: 0px;
    border: 0 solid green;
    background-color: rgb(18, 18, 179);
    color: white;
    margin-bottom: 10px;
    width: 80%;
    transition: .2s linear;
}

.buttons :last-of-type {
    margin-bottom: 0px;
}

.help-label {
    padding: 0;
    margin: 0;
}

.label {
    font-size: 20px;
}

@media (max-width: 815px) {
    .button {
        padding: 7px 14px 7px 14px;
        font-size: 16px;
    }
    .holder {
        width: 85%;
    }
    .label {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    p {
        font-size: 14px;
        margin-bottom: 6px;
    }
    input {
        padding: 6px 10px;
        margin: 0;
    }
    .buttons {
        padding-top: 15px;
    }
    .form-control {
        font-size: 0.8rem;
    }
    .label {
        font-size: 0.8rem;
    }
}