<div class="canvas">
    <div class="center-dialog">

        <div class="field">
            <div class="item" *ngFor="let item of SavedGames" [ngClass]='{ selected:item.GameId==selectedId }' (click)=select(item.GameId)>
                <div>{{item.SaveName}}</div>
                <div>{{item.SaveDate.substring(0,10)}}</div>
            </div>
        </div>

        <div class="progressholder">
            <mat-progress-bar [ngStyle]="{'visibility': loginProcess ? 'visible' : 'hidden'}" mode="indeterminate"></mat-progress-bar>
        </div>
        <div class="buttons">
            <button class="button" (click)="back()">Назад до меню</button>
            <button class="button" (click)="load()">Завантажити гру</button>
        </div>
    </div>
</div>