<div class="block">
    <p class="label">Email</p>
    <input placeholder="Email adress" type="email" required>
</div>
<div class="block">
    <p class="label">Пароль</p>
    <input placeholder="Password" type="password">
</div>
<div class="block">
    <p class="label">Повторіть пароль</p>
    <input placeholder="Password" type="password">
</div>
<div class="block">
    <p class="label">Ім'я для таблиці рекордів</p>
    <input placeholder="Nickname">
</div>
<div class="buttons">
    <button class="button" (click)="SignUp()">Зареєструватися</button>
    <p class="help-label">Вже зареєстровані?</p>
    <button class="button" [routerLink]="['/login']">Увійти</button>
</div>