.button {
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    border-radius: 0px;
    border: 0 solid green;
    background-color: rgb(18, 18, 179);
    color: white;
    margin-bottom: 2px;
    border: 0px solid black;
    transition: .2s linear;
    font-family: Goose, "Helvetica Neue", sans-serif;
}