.canvas {
    height: calc(100vh - 24px);
}

.game-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.field {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.twoblocks {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.animated {
    background: linear-gradient(45deg, #abe7ff, #e2ff62);
    background-size: 200% 200%;
    animation: gradient 15s linear infinite;
}

.left {
    width: 20%;
    height: 100%;
    background-color: darkseagreen;
    p {
        font-family: Goose, "Helvetica Neue", sans-serif;
        font-size: 16pt;
    }
}

.left-align {
    align-self: flex-start;
}

.invisible {
    display: none;
}

.fadedout {
    -webkit-animation: fadeout 1s;
    animation: fadeout 1s;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fadedin {
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
}

.money {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.right {
    width: 15%;
    height: 100%;
    overflow-y: auto;
    overflow-x: none;
    background-color: darkseagreen;
    p {
        font-family: Goose, "Helvetica Neue", sans-serif;
    }
    padding-left: 10px;
}

.line {
    width: 90%;
    border-bottom: 1px solid gray;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.custom_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bonuses {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    img {
        height: 61px;
        width: 61px;
        margin: 10px;
        cursor: pointer;
    }
}

.description {
    width: 98%;
    background-color: whitesmoke;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    p {
        text-align: center;
        font-size: 13pt;
        font-family: Vinnytsia, sans-serif;
    }
}

.indicator {
    width: 100%;
}

.face-logo {
    width: 60px;
    height: 60px;
    margin-left: 5px;
}

.action-field {
    max-height: 50%;
    min-height: 50%;
    height: 50%;
    width: 100%;
    background-color: hotpink;
}

.main {
    width: 80%;
    height: 100%;
}

.main-field {
    padding: 15px;
    overflow-y: auto;
    max-height: 100%;
    height: auto;
    min-height: 50%;
    background-color: white;
    width: 100%;
    font-size: 18pt;
    font-family: Goose, "Helvetica Neue", sans-serif;
}

.actions {
    height: 20%;
    // margin-right: 200px;
    background-color: #abe7ff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    border-radius: 0px;
    border: 0 solid green;
    background-color: rgb(18, 18, 179);
    color: white;
    margin-bottom: 2px;
    border: 0px solid black;
    transition: .2s linear;
    font-family: Goose, "Helvetica Neue", sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.name {
    font-size: 18pt;
    padding-right: 20px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 1400px) {
    .left {
        width: 30%;
    }
    .main {
        width: 70%;
    }
    .twoblocks {
        height: 75%;
    }
    .actions {
        height: 25%;
    }
}

@media (max-width: 1024px) {
    .twoblocks {
        height: 70%;
    }
    .actions {
        height: 30%;
    }
    .right {
        width: 20%;
    }
    .description {
        padding: 0;
    }
}

@media (max-width: 815px) {
    .twoblocks {
        height: 75%;
    }
    .actions {
        height: 25%;
    }
    .canvas {
        height: calc(100vh - 15px);
    }
    .button {
        font-size: 12px;
        padding: 4px;
        width: 100%;
    }
    .bonuses {
        img {
            height: 25px;
            width: 25px;
            margin: 0;
            margin-right: 3px;
        }
    }
    .left {
        p {
            font-size: 11px;
        }
    }
    .face-logo {
        display: none;
    }
    .main-field {
        padding: 0;
        padding-left: 5px;
        font-size: 14px;
    }
    .money {
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }
    .right {
        width: 20%;
        padding-left: 0px;
        p {
            font-size: 11px;
        }
        .name {
            font-size: 15pt;
            padding: 0;
        }
    }
}

@media (max-width: 576px) {
    .canvas {
        height: calc(100vh - 10px);
    }
    .twoblocks {
        flex-direction: column;
        width: 100%;
    }
    .actions {
        height: 25%;
    }
    .left {
        width: 100%;
    }
    .main {
        width: 100%;
        max-height: 50%;
    }
    .description {
        width: 100%;
    }
    .main-field {
        padding: 0;
        margin-left: 5px;
    }
    .field {
        width: 72%;
    }
    .right {
        width: 28%;
    }
}