<div class="canvas">
    <div class="game-screen">
        <div class="field">
            <div class="twoblocks">
                <div class="left column">
                    <button class="button" (click)="saveGame()">Зберегти прогресс</button>
                    <button class="button" (click)="back()">Вийти в меню</button>
                    <div class="bonuses">
                        <img *ngFor="let item of bonuses" [title]='item.name' class="tltip" [src]='item.url'>
                    </div>
                    <div class="column">
                        <p>Сьогодні: </p>
                        <p>{{dayUkr}}</p>
                        <p>Час:</p>
                        <p>{{partUkr}}</p>
                    </div>
                    <div class="description">
                        <P></P>
                        <p> {{descriptionText}}</p>
                        <p></p>
                    </div>
                </div>
                <div class="main column">
                    <div id="textscreen" class="main-field default">
                        {{eventResult}}
                    </div>
                    <div class="action-field" [style.display]="ActionFieldWork ? 'block' : 'none'">
                        <app-work-game (stopEvent)="stopAction($event)"></app-work-game>
                    </div>
                </div>
            </div>
            <div class="actions">
                <mat-progress-bar class="left-align" mode="determinate" [value]="progressValue"></mat-progress-bar>
                <div [ngClass]='{ fadedin:animationTime, fadedout:!animationTime, invisible: !visibility }' *ngFor="let item of eventModels">
                    <app-event-button (leave)="mouseLeave()" (select)="selectEvent($event)" (enter)="mouseEnter($event)" [multi]="item.isMulti" [model]="item"></app-event-button>
                </div>
            </div>
        </div>

        <div class="right column">
            <div class="custom_row">
                <p class="name">{{name}}</p>
                <img class="face-logo" [src]="profilePic">
            </div>
            <app-indicator class="indicator" [value]="player.Power" type="Енергія"></app-indicator>
            <app-indicator class="indicator" [value]="player.Happines" type="Щастя"></app-indicator>

            <div class="left-align">
                <p>Гроші: </p>
                <div class="custom_row">
                    <img class="money" [src]="moneyUrl">
                    <p>{{player.Money}}</p>
                </div>
            </div>
            <div class="line"></div>

            <app-indicator class="indicator" [value]="player.FriendsRaiting" type="Ставлення друзів"></app-indicator>
            <app-indicator class="indicator" [value]="player.FollowerRaiting" type="Ставлення другої половинки"></app-indicator>
            <app-indicator class="indicator" [value]="player.TeacherRaiting" type="Ставлення вчителя"></app-indicator>

            <div class="line"></div>
            <app-indicator class="indicator" [value]="player.Theory" type="Теоретичні знання"></app-indicator>
            <app-indicator class="indicator" [value]="player.Practic" type="Практичні навички"></app-indicator>
            <div>
                <p>Прогрес лабораторних</p>
                <div class="custom_row">
                    <img *ngFor="let item of player.Labs" class="money" [src]='item.Passed?labPassedUrl:(item.Ready?labReadyUrl:labUrl)'>
                </div>
            </div>
            <div>
                <p>Прогрес поточної лаби:</p>
                <app-indicator class="indicator" [value]="player.CurrentLaba.Progress * 33.3"></app-indicator>
            </div>
            <div [style.display]="player.hasJob ? 'block' : 'none'">
                <p>Робочий прогрес тижня:</p>
                <p>{{player.WorkTiles}}/{{player.AssignedWork}}</p>

            </div>
            <div>
            </div>
            <p></p>
        </div>
    </div>
</div>