  html {
      font-size: 14px;
  }
  
  .footer-item {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: blueviolet;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      color: white;
      text-align: center;
  }
  
  @media (max-width: 815px) {
      .footer-item {
          font-size: 12px;
      }
  }
  
  @media (max-width: 576px) {
      .footer-item {
          font-size: 9px;
      }
  }